textarea {
    border-radius: 10px;
    border: none;
    resize: none;
    background-color: #cbfacbe3;
    padding: 20px;
}

textarea#descricaoDetalhes{
    border: none;
    background: none;
}


#descricao.blocoEvento {
    /* flex-grow: 2; */
}

.sentimentoField {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.sentimentoItem {
    flex: 1;
    padding: 10px;
}

.sentimentoButton {
    padding: 10px;
    font-size: medium;
    margin: 0 30px;
    color: white;
    border-radius: 10px;
    background-color: #271D24;
    font: small;
    height: 30px;
    border: none;
    align-self: center;
}
.sentimentoButtonG {
    padding: 10px;
    font-size: medium;
    margin: 0 30px;
    color: white;
    border-radius: 10px;
    background-color: #271D24;
    font: small;
    height: 30px;
    width: 300px;
    border: none;
    align-self: center;
}
.sentimentoButtonDangerG {
    padding: 10px;
    font-size: medium;
    width: 300px;
    margin: 0 30px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #c90d06;
    font: small;
    height: 30px;
    border: none;
    align-self: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    /* font-weight: 700; */
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

#select:hover {
    border-color: #888;
}

#select option {
    font-weight: normal;
}

.radioSentimentos {
    flex: 1;
    flex-direction: row;
}

#data {
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #cbfacbe3;
    padding: 20px;
}

input#data {
    border-radius: 10px;
    border: none;
    background-color: #cbfacbe3;
    padding: 20px;
}

#titulo {
    margin-left: 15px;
}

#salvar {
    padding: 50px;
    font-size: 20px;    
    text-align: center;
    align-self: center;    
}