.formulario{
   flex-grow: 2;
   padding: 15px;
   align-items: stretch;
}

.textoCadastro{
    font-size: larger;
    color: black;
    text-align: justify;
}
.tituloDescricao{
    font-size: larger;
    color: white;    
}

.labelCadastro{
    padding: 10px;
    font-size: small;
    /* color: white; */
}
.container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.container_cadastro{
    flex-direction: column;
    display: flex;
    padding: 15px;
    margin-top: 20px;
    width: 700px;
    /* height: 450px; */
    background-color:#55A955;
    border-radius: 10px;
    
}

.conteudo{
    display: flex;    
    align-items:stretch;
}

#descricaoTipo{
    padding: 30px;
    display: flex;
    width: 50%;
    flex-direction: column;
    flex-grow: 1;
}

.botaoCadastro{
    padding: 5px;
    margin: 0 30px;
    color: white;
    border-radius: 10px;
    background-color: #271D24;
    font: small;
    height: 30px;
    border: none;
}

.botoesCadastro{
    display: flex;
    padding: 10px;
    /* margin-top: 70px; */
    align-items: space-between;       
}

a.botao{
    margin-left: 20px;
    padding: 10px;
    width: 40px;
    text-align: center;
}

.h1Cadastro{
    font-size: 50px;
    color: white;
    text-align: center;
    /* margin-top: 10px; */
}

form{
    display: flex;
    align-content: flex-start;
    align-items: baseline;
    flex-direction: column;
}

input{
    /* width: 250px; */
    padding: 10px;
    border-radius: 10px;
    border: none;
}

input#opcoes{
    width: 10px;
}