.formulario{
   flex-grow: 1;
   padding: 15px;
   
}

.texto{
    font-size: larger;
    color: white;
}

.label{
    padding: 10px;
    font-size: small;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
}
.container_cadastro{
    flex-direction: column;
    display: flex;
    padding: 15px;
    margin-top: 20px;
    width: 700px;
    /* height: 450px; */
    background-color:#55A955;
    border-radius: 10px;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
}

.descricao{
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.botao{
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: #271D24;
    font: small;
    height: 30px;
    border: none;
}

.botoes{
    display: flex;
    padding: 10px;
    /* margin-top: 70px; */
    align-items: center;
   
    
}

a.botao{
    margin-left: 20px;
    width: 50px;
    text-align: center;
}

h1{
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

form{
    display: flex;
    align-content: flex-start;
    align-items: baseline;
    flex-direction: column;
}

input{
    /* width: 250px; */
    padding: 10px;
    border-radius: 10px;
    border: none;
}

input#opcoes{
    width: 10px;
}