.grafico{
    padding: 20px;
    width: 300px;
}

.graficos{
    display: flex;
}

#listas{
    display: flex;
    flex-direction: column;
}

#dashboard{
    margin: 0px;
}

.centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaEvento#dashboard{
    display: flex;
    justify-content: space-between;
}

.legendas{
    display: flex;
    justify-content: space-around;
    /* margin: 10px 80px; */
    margin-left: 30px;
}