.formulario{
    flex-grow: 1;
    padding: 15px;
    
 }
 
 .texto{
     font-size: larger;
     color: white;
 }
 
 .label{
     font-size: small;
     color: white;
 }
 
 .container_login{
     flex-direction: column;
     display: flex;
     padding: 15px;
     margin-top: 20px;
     width: 400px;
     height: 450px;
     background-color:#55A955;
     border-radius: 10px;
 }

.botao{
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: #271D24;
    padding: 5px;
}

.titulo{
    font-size: 50px;
    color: white;
    text-align: center;
}


