.formulario {
    flex-grow: 1;
    padding: 15px;
    align-items: stretch;
}

.texto {
    font-size: larger;
    color: white;
}

.label {
    padding: 10px;
    font-size: small;
}

.container_login {
    flex-direction: column;
    display: flex;
    padding: 15px;
    margin-top: 20px;
    width: 400px;
    height: 450px;
    background-color: #55A955;
    border-radius: 10px;
}

#subscribeLogin {
    text-align: center;
    margin-top:30px;
    padding: 0px;
}

.botao {
    margin-top: 50px;
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: #271D24;
}

.titulo {
    font-size: 50px;
    color: white;
    text-align: center;
}